*{
    padding:0;
    margin:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    height:100vh;
    width:100%;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(back.jpg);
    background-position:center;
    background-size:cover;
    position:relative;
}
.logo{
    color:#fabd02;
    font-size:32px;
    font-weight: 700;
    letter-spacing: 2px;
}
span{
    color:white;
}
.btn{
    text-transform: capitalize;
    text-decoration: none;
    background-color: #fabd02;
    padding:15px 40px;
    font-size: 14px;
    border-radius: 30px;

}
.nav{
    width:85%;
    height:15%;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.main{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;

}
.text h1{
    color:#fabd02;
    font-weight: 900;
    font-size: 70px;
    letter-spacing: 2px;
}
.text p{
    color:white;
    text-transform: capitalize;
    font-size: 40px;
    margin-bottom:30px;
    word-spacing:3px;
    letter-spacing:1px;
}
.btnone{
    margin:0px 10px;
    border:2px solid #fabd02;
    padding:20px 35px;
    letter-spacing: 3px;
    color:#000;
    border-radius: 30px;
    background-color:#fabd02;
    text-decoration: none;
    
}
.btnone:hover{
    border:2px solid #000;
    color:white;
}